body {
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.header {
    color: white;
    background-color: black;
    width: 100%;
    font-size: 26px;
    padding: 20px;
}

.needsData {
    background-color: #e9967a;
    color: white;
}